# **Read Me**

This is a hypothesis testing project, demonstrating my understanding of statistical tests. It used open-source data for rentable bikes in London.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (1.11.4)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /usr/local/lib/python3.10/dist-packages (from scipy) (1.25.2)

In [ ]:
import statistics
import numpy
import matplotlib
import seaborn
import pandas
from scipy.stats import shapiro, ttest_ind
pandas.options.mode.chained_assignment = None  # default='warn'

In [ ]:
# set-up spark (NB if Apache amend versions on download site we will need to amend path in wget command)
!ls
!rm -f spark-3.4.[01]-bin-hadoop3.tgz*
!rm -rf spark-3.4.[01]-bin-hadoop3
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget https://downloads.apache.org/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar -xf spark-3.5.1-bin-hadoop3.tgz
!ls -alt

Welcome to advanced top sites
drive  sample_data
--2024-05-23 20:20:59--  https://downloads.apache.org/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
Resolving downloads.apache.org (downloads.apache.org)... 135.181.214.104, 88.99.208.237, 2a01:4f9:3a:2c57::2, ...
Connecting to downloads.apache.org (downloads.apache.org)|135.181.214.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 400446614 (382M) [application/x-gzip]
Saving to: ‘spark-3.5.1-bin-hadoop3.tgz’

spark-3.5.1-bin-had 100%[===================>] 381.90M  18.9MB/s    in 22s

2024-05-23 20:21:21 (17.7 MB/s) - ‘spark-3.5.1-bin-hadoop3.tgz’ saved [400446614/400446614]

total 391092
drwxr-xr-x  1 root root      4096 May 23 20:21 .
drwx------  5 root root      4096 May 23 20:20 drive
drwxr-xr-x  1 root root      4096 May 23 20:19 ..
drwxr-xr-x  1 root root      4096 May 22 13:23 sample_data
drwxr-xr-x  4 root root      4096 May 22 13:22 .config
-rw-r--r--  1 root root 400446614 Feb 15 11:39 spark-3.5.1-bin-hadoop3.tgz
drwxr-xr-x 13 1000 1000      4096 Feb 15 11:36 spark-3.5.1-bin-hadoop3

In [ ]:
!pip3 install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
!ls

drive  sample_data  spark-3.5.1-bin-hadoop3  spark-3.5.1-bin-hadoop3.tgz

In [ ]:
# init spark (ensure SPARK_HOME set to same version as we download earlier)
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"
import findspark
findspark.init()
from pyspark import SparkConf, SparkContext
# the next line gives us 'local' mode. try 'local[2]' to use 2 cores or 'master:NNNN' to run on Spark standalone cluster at port NNNN
spark_conf = SparkConf().setMaster('local[2]').setAppName('MyApp')
sc = SparkContext.getOrCreate();
# see what we have by examining the Spark User Interface
from pyspark.sql import *
from pyspark.sql.functions import *
# "SparkSession" and "sc" are are key handles in to Spark API
##SparkSession.builder.getOrCreate()
spark = SparkSession.builder.appName("bikes").getOrCreate()

In [ ]:
from pyspark.sql.functions import mean, stddev, min, max, count

Read in all data

In [ ]:
j1_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/1. Journey*csv'))

j2_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/2. Journey*csv'))

j3_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/3. Journey*csv'))

j4_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/4. Journey*csv'))

j5_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/5. Journey*csv'))

j6_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/6. Journey*csv'))

j7_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/7. Journey*csv'))

j8a_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/8a Journey*csv'))

j8b_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/8b Journey*csv'))

j9a_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/9a Journey*csv'))

j9b_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/9b Journey*csv'))

j10a_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/10a. Journey*csv'))

j10b_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/10b. Journey*csv'))

j11a_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/11a. Journey*csv'))

j11b_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/11b. Journey*csv'))

j12a_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/12a. Journey*csv'))

j12b_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/12b. Journey*csv'))

j13a_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/13a. Journey*csv'))

j13b_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/13b. Journey*csv'))

j14_df = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load('/content/drive/MyDrive/Colab Data/14. Journey*csv'))

# **“Rides in 2014 starting from Baylis Road, Waterloo station were shorter compared to other stations."**

H0: Rides in 2014 starting from Baylis Road, Waterloo station were not shorter compared to other stations.

H1: Rides in 2014 starting from Baylis Road, Waterloo station were shorter compared to other stations.

This Hypothesis is tested by a one-tailed Test.

# **PLAN:**

External Factors: Consider external factors that might have influenced trip distance in 2014, such as road closures or special events.

take average for each month for baylis and ALL other stations

do a T-test of them against eachother

If the T test concludes that the times are not statistically significant, i could also always check if the rides from Baylis are shorter at certain times, such as a quarter of the year, or at the peak time of day.
Do some outside reading about cycling in London

But before doing any testing, i should do an EDA.

I need to merge all the datasets, and then split baylis road from the others

In [ ]:
j1_df.head()

Row(Rental Id=29747123, Duration=1140, Bike Id=469, End Date='05/01/2014 15:54', EndStation Id=55, EndStation Name='Finsbury Circus, Liverpool Street', Start Date='05/01/2014 15:35', StartStation Id=295, StartStation Name='Swan Street, The Borough')

In [ ]:
j2_df.head()

Row(Rental Id=30286260, Duration=1260, Bike Id=12218, End Date='03/02/2014 23:24', EndStation Id=697, EndStation Name='Charlotte Terrace, Angel', Start Date='03/02/2014 23:03', StartStation Id=311, StartStation Name='Foley Street, Fitzrovia')

In [ ]:
j4_df.head()

Row(Rental Id=31598682, Duration=540, Bike Id=982, End Date='01/04/2014 00:09', EndStation Id=544, EndStation Name='Percival Street, Finsbury', Start Date='01/04/2014 00:00', StartStation Id=217, StartStation Name='Wormwood Street, Liverpool Street', _c9=None, _c10=None, _c11=None)

In [ ]:
j6_df.head()

Row(Rental Id=33253206, Duration=1140, Bike Id=11439, End Date='27/05/2014 00:59', EndStation Id=695, EndStation Name='Islington Green, Angel', Start Date='27/05/2014 00:40', StartStation Id=81, StartStation Name='Great Titchfield Street, Fitzrovia', _c9=None, _c10=None, _c11=None)

In [ ]:
j10b_df.head()

Row(Rental Id=37875851, Duration=120, Bike Id=3229, End Date='28/09/2014 00:02', EndStation Id=450, EndStation Name='Jubilee Street, Stepney', Start Date='28/09/2014 00:00', StartStation Id=443, StartStation Name='Philpot Street, Whitechapel', _c9=None, _c10=None, _c11=None)

In [ ]:
j13b_df.head()

Row(Rental Id=40154802, Duration=120, Bike Id=12760, End Date='22/12/2014 00:03', EndStation Id=450, EndStation Name='Jubilee Street, Stepney', Start Date='22/12/2014 00:01', StartStation Id=443, StartStation Name='Philpot Street, Whitechapel', _c9=None, _c10=None, _c11=None)

In [ ]:
colnames = j4_df.columns
print(colnames)
#Finding Column names

['Rental Id', 'Duration', 'Bike Id', 'End Date', 'EndStation Id', 'EndStation Name', 'Start Date', 'StartStation Id', 'StartStation Name', '_c9', '_c10', '_c11']

In [ ]:
#dropping the empty columns
j4_df = j4_df.drop(j4_df._c9)
j4_df = j4_df.drop(j4_df._c10)
j4_df = j4_df.drop(j4_df._c11)

In [ ]:
j6_df = j6_df.drop(j6_df._c9)
j6_df = j6_df.drop(j6_df._c10)
j6_df = j6_df.drop(j6_df._c11)

In [ ]:
j10b_df = j10b_df.drop(j10b_df._c9)
j10b_df = j10b_df.drop(j10b_df._c10)
j10b_df = j10b_df.drop(j10b_df._c11)

In [ ]:
j13b_df = j13b_df.drop(j13b_df._c9)
j13b_df = j13b_df.drop(j13b_df._c10)
j13b_df = j13b_df.drop(j13b_df._c11)

In [ ]:
allJourneys_df = j1_df

Combine all Dataframes

In [ ]:
allJourneys_df = allJourneys_df.union(j2_df)
allJourneys_df = allJourneys_df.union(j3_df)
allJourneys_df = allJourneys_df.union(j4_df)
allJourneys_df = allJourneys_df.union(j5_df)
allJourneys_df = allJourneys_df.union(j6_df)
allJourneys_df = allJourneys_df.union(j7_df)
allJourneys_df = allJourneys_df.union(j8a_df)
allJourneys_df = allJourneys_df.union(j8b_df)
allJourneys_df = allJourneys_df.union(j9a_df)
allJourneys_df = allJourneys_df.union(j9b_df)
allJourneys_df = allJourneys_df.union(j10a_df)
allJourneys_df = allJourneys_df.union(j10b_df)
allJourneys_df = allJourneys_df.union(j11a_df)
allJourneys_df = allJourneys_df.union(j11b_df)
allJourneys_df = allJourneys_df.union(j12a_df)
allJourneys_df = allJourneys_df.union(j12b_df)
allJourneys_df = allJourneys_df.union(j13a_df)
allJourneys_df = allJourneys_df.union(j13b_df)
allJourneys_df = allJourneys_df.union(j14_df)

In [ ]:
allJourneys_df.count()
#35992538

11481596

In [ ]:
#remove rows with null values
allJourneys_df.dropna()

DataFrame[Rental Id: int, Duration: int, Bike Id: int, End Date: string, EndStation Id: int, EndStation Name: string, Start Date: string, StartStation Id: int, StartStation Name: string]

In [ ]:
cols_to_drop = ["Bike Id", "Rental Id", "End Date", "EndStation Id", "EndStation Name"]
smallJourneyFrame = allJourneys_df.drop(*cols_to_drop)

In [ ]:
smallJourneyFrame.describe()

DataFrame[summary: string, Duration: string, Start Date: string, StartStation Id: string, StartStation Name: string]

In [ ]:
column_stats = smallJourneyFrame.select(
    mean("Duration").alias("mean"),
    stddev("Duration").alias("stddev"),
    min("Duration").alias("min"),
    max("Duration").alias("max"),
    count("Duration").alias("count")
)
column_stats.head()

Row(mean=1466.081447242822, stddev=12946.838147598999, min=-3360, max=2596560, count=10242483)

In [ ]:
filteredJourneys = smallJourneyFrame.filter(col("Duration") > 0)
#REMOVE ANY DURATIONS THAT ARE <0

In [ ]:
column_stats = filteredJourneys.select(
    mean("Duration").alias("mean"),
    stddev("Duration").alias("stddev"),
    min("Duration").alias("min"),
    max("Duration").alias("max"),
    count("Duration").alias("count")
)
column_stats.head()

Row(mean=1470.7762845004315, stddev=12967.158682798066, min=60, max=2596560, count=10209981)

Now to remove any values below Q1 - 1.5IQR or above Q3 + 1.5IQR

In [ ]:
quantiles = filteredJourneys.approxQuantile("Duration", [0.25, 0.75], 0.01)
q1, q3 = quantiles[0], quantiles[1]
IQR = q3 - q1
upper_bound = q3 + 1.5 * IQR
lower_bound = q1 - 1.5 * IQR
IQRFilteredJourneys = filteredJourneys.filter((col("Duration") >= lower_bound) & (col("Duration") <= upper_bound))

In [ ]:
column_stats = IQRFilteredJourneys.select(
    mean("Duration").alias("mean"),
    stddev("Duration").alias("stddev"),
    min("Duration").alias("min"),
    max("Duration").alias("max"),
    count("Duration").alias("count")
)
column_stats.head()

Row(mean=879.8435636781282, stddev=519.9468705702725, min=60, max=2580, count=9537427)

In [ ]:
10209981 - 9537427

672554

In [ ]:
IQRFilteredJourneys.head(5)

[Row(Duration=1140, Start Date='05/01/2014 15:35', StartStation Id=295, StartStation Name='Swan Street, The Borough'),
 Row(Duration=1560, Start Date='06/01/2014 23:04', StartStation Id=311, StartStation Name='Foley Street, Fitzrovia'),
 Row(Duration=1200, Start Date='09/01/2014 23:05', StartStation Id=81, StartStation Name='Great Titchfield Street, Fitzrovia'),
 Row(Duration=1380, Start Date='17/01/2014 13:43', StartStation Id=311, StartStation Name='Foley Street, Fitzrovia'),
 Row(Duration=1320, Start Date='18/01/2014 20:44', StartStation Id=225, StartStation Name='Notting Hill Gate Station, Notting Hill')]

In [ ]:
IQRFilteredJourneys = IQRFilteredJourneys.withColumn("justDate", split(col("Start Date"), " ").getItem(0).cast("string"))
IQRFilteredJourneys = IQRFilteredJourneys.withColumn("StartMonth", split(col("Start Date"), "/").getItem(1).cast("string"))

In [ ]:
BaylisJourneys = IQRFilteredJourneys.filter(col("StartStation Name").like("%" + "Baylis" + "%"))
BaylisJourneys.head()

Row(Duration=660, Start Date='24/01/2014 18:04', StartStation Id=272, StartStation Name='Baylis Road, Waterloo', justDate='24/01/2014', StartMonth='01')

# Baylis ID = 272

In [ ]:
BaylisJourneys = IQRFilteredJourneys.filter(col("StartStation Id") == "272")
BaylisJourneys.head()

Row(Duration=660, Start Date='24/01/2014 18:04', StartStation Id=272, StartStation Name='Baylis Road, Waterloo', justDate='24/01/2014', StartMonth='01')

In [ ]:
Baylis01 = BaylisJourneys.filter(col("StartMonth") == "01")
Baylis02 = BaylisJourneys.filter(col("StartMonth") == "02")
Baylis03 = BaylisJourneys.filter(col("StartMonth") == "03")
Baylis04 = BaylisJourneys.filter(col("StartMonth") == "04")
Baylis05 = BaylisJourneys.filter(col("StartMonth") == "05")
Baylis06 = BaylisJourneys.filter(col("StartMonth") == "06")
Baylis07 = BaylisJourneys.filter(col("StartMonth") == "07")
Baylis08 = BaylisJourneys.filter(col("StartMonth") == "08")
Baylis09 = BaylisJourneys.filter(col("StartMonth") == "09")
Baylis10 = BaylisJourneys.filter(col("StartMonth") == "10")
Baylis11 = BaylisJourneys.filter(col("StartMonth") == "11")
Baylis12 = BaylisJourneys.filter(col("StartMonth") == "12")

In [ ]:
Baylis01.select(mean("Duration")).collect()

[Row(avg(Duration)=695.9109311740891)]

In [ ]:
BaylisMeansByMonth = [Baylis01.select(mean("Duration")).collect(), Baylis02.select(mean("Duration")).collect(), Baylis03.select(mean("Duration")).collect(), Baylis04.select(mean("Duration")).collect(), Baylis05.select(mean("Duration")).collect(),Baylis06.select(mean("Duration")).collect(), Baylis07.select(mean("Duration")).collect(), Baylis08.select(mean("Duration")).collect(), Baylis09.select(mean("Duration")).collect(), Baylis10.select(mean("Duration")).collect(), Baylis11.select(mean("Duration")).collect(), Baylis12.select(mean("Duration")).collect()]
print(BaylisMeansByMonth)

[[Row(avg(Duration)=695.9109311740891)], [Row(avg(Duration)=726.2359550561798)], [Row(avg(Duration)=717.738219895288)], [Row(avg(Duration)=724.8768472906404)], [Row(avg(Duration)=751.2581063553827)], [Row(avg(Duration)=780.9468822170901)], [Row(avg(Duration)=810.2086230876217)], [Row(avg(Duration)=800.5854800936768)], [Row(avg(Duration)=755.2207792207793)], [Row(avg(Duration)=731.5464813205908)], [Row(avg(Duration)=676.3800904977376)], [Row(avg(Duration)=676.7122080211547)]]

In [ ]:
NumpyBaylis = np.array(BaylisMeansByMonth)
NumpyBaylis

array([[[695.91093117]],

       [[726.23595506]],

       [[717.7382199 ]],

       [[724.87684729]],

       [[751.25810636]],

       [[780.94688222]],

       [[810.20862309]],

       [[800.58548009]],

       [[755.22077922]],

       [[731.54648132]],

       [[676.3800905 ]],

       [[676.71220802]]])

In [ ]:
shapiro(NumpyBaylis)

ShapiroResult(statistic=0.9492577314376831, pvalue=0.6261594891548157)

In [ ]:
OtherJourneys = IQRFilteredJourneys.filter(col("StartStation Id") != "272")
OtherJourneys.head()

Row(Duration=1140, Start Date='05/01/2014 15:35', StartStation Id=295, StartStation Name='Swan Street, The Borough', justDate='05/01/2014', StartMonth='01')

In [ ]:
OtherJourneys01 = OtherJourneys.filter(col("StartMonth") == "01")
OtherJourneys02 = OtherJourneys.filter(col("StartMonth") == "02")
OtherJourneys03 = OtherJourneys.filter(col("StartMonth") == "03")
OtherJourneys04 = OtherJourneys.filter(col("StartMonth") == "04")
OtherJourneys05 = OtherJourneys.filter(col("StartMonth") == "05")
OtherJourneys06 = OtherJourneys.filter(col("StartMonth") == "06")
OtherJourneys07 = OtherJourneys.filter(col("StartMonth") == "07")
OtherJourneys08 = OtherJourneys.filter(col("StartMonth") == "08")
OtherJourneys09 = OtherJourneys.filter(col("StartMonth") == "09")
OtherJourneys10 = OtherJourneys.filter(col("StartMonth") == "10")
OtherJourneys11 = OtherJourneys.filter(col("StartMonth") == "11")
OtherJourneys12 = OtherJourneys.filter(col("StartMonth") == "12")

In [ ]:
OtherJourneysMeansByMonth = [OtherJourneys01.select(mean("Duration")).collect(), OtherJourneys02.select(mean("Duration")).collect(), OtherJourneys03.select(mean("Duration")).collect(), OtherJourneys04.select(mean("Duration")).collect(), OtherJourneys05.select(mean("Duration")).collect(),OtherJourneys06.select(mean("Duration")).collect(), OtherJourneys07.select(mean("Duration")).collect(), OtherJourneys08.select(mean("Duration")).collect(), OtherJourneys09.select(mean("Duration")).collect(), OtherJourneys10.select(mean("Duration")).collect(), OtherJourneys11.select(mean("Duration")).collect(), OtherJourneys12.select(mean("Duration")).collect()]
print(OtherJourneysMeansByMonth)

[[Row(avg(Duration)=790.0826946227322)], [Row(avg(Duration)=825.1429095915557)], [Row(avg(Duration)=869.4681916895903)], [Row(avg(Duration)=898.3211920936575)], [Row(avg(Duration)=897.4850121793422)], [Row(avg(Duration)=913.9281845612192)], [Row(avg(Duration)=931.0050288833636)], [Row(avg(Duration)=940.390253888944)], [Row(avg(Duration)=894.0634489822046)], [Row(avg(Duration)=854.4200037912896)], [Row(avg(Duration)=822.9322931195138)], [Row(avg(Duration)=827.3133677539921)]]

In [ ]:
NumpyOtherJourneys = np.array(OtherJourneysMeansByMonth)
NumpyOtherJourneys

array([[[790.08269462]],

       [[825.14290959]],

       [[869.46819169]],

       [[898.32119209]],

       [[897.48501218]],

       [[913.92818456]],

       [[931.00502888]],

       [[940.39025389]],

       [[894.06344898]],

       [[854.42000379]],

       [[822.93229312]],

       [[827.31336775]]])

In [ ]:
shapiro(NumpyOtherJourneys)

ShapiroResult(statistic=0.9476072192192078, pvalue=0.6023095846176147)

In [ ]:
ttest_ind(NumpyBaylis,NumpyOtherJourneys,alternative="less")

TtestResult(statistic=array([[-7.14833527]]), pvalue=array([[1.81410918e-07]]), df=array([[22.]]))